@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}

html{
    scroll-behavior: smooth;
}

/* Header section */
.header{
    width: 100%;
    height: 90vh;
    background: url("https://i.ibb.co/vXqDmnh/background.jpg") no-repeat center center/cover;
    position: relative;
}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90vh;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 120px 100px 250px #000,
                inset -120px -100px 250px #000;
    z-index: 1;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 25px 50px;
    z-index: 2;
}

.header .navbar .logo img{
    height: 35px;
}

.header .navbar .sign-in{
    color: #fff;
    background: #e50914;
    padding: 6px 15px;
    border-radius: 2px;
    font-weight: 500;
    margin-right: 50px;
    cursor: pointer;
}

.header .navbar .select{
    background: transparent;
    color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 6px 13px;
    margin-right: 30px;
}

.header .navbar .select:hover{
    border: 1px solid #fff;
}

.header .navbar .select option{
    background: rgb(83, 80, 80);
}


/* Main Content */
.header .main-content{
    position: relative;
    top: 20%;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 4;
}

.header .main-content h1{
    font-size: 63px;
    font-weight: 550;
    line-height: 1.2;
    padding-bottom: 10px;
}

.header .main-content .para-1{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 20px;
}

.header .main-content .para-2{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}


.header .main-content input{
    width: 35%;
    padding: 22px 10px;
    border-radius: 2px;
}

.header .main-content input::-webkit-input-placeholder{
    font-size: 15px;
    font-weight: 500;
}


.header .main-content button{
    background: #e50914;
    padding: 22px 60px;
    color: #fff;
    font-weight: 500;
    margin-left: -0.3%;
}


/* Enjoy Section */
.enjoy{
    background: #000;
    border-top: 8px solid #222;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 40px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.enjoy .enjoy-content{
    flex: 1 1 400px;
    margin-left: 80px;
    margin-right: 2%;
}

.enjoy .enjoy-content h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 10px;
}

.enjoy .enjoy-content p{
    color: #fff;
    font-size: 23px;
}

.enjoy .enjoy-img{
    flex: 1 1 400px;
    margin-right: 5%;
    margin-left: 10px;

    width: 80%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.enjoy .enjoy-img img{
    width: 100%;
    position: absolute;
}

.enjoy .enjoy-img .vdo{
    margin-left: 13%;
    margin-top: 16%;
    width: 73%;
}